:host{
  display: flex;
  .mat-form-field{
    width: 100%;
  }
  &.ng-touched.ng-invalid /deep/ {
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: red;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline{
      color: red;
    }
  }
}
