<section *ngIf="spaceFormGroup" [formGroup]="spaceFormGroup">
  <div  fxLayout="{{fxFlexLayout}}" fxLayoutGap="10px">

    <div fxFlex="80">
      <label>Name:</label>
      <app-name-reactive
        [defaultValue]="name"
        formControlName="name"
      ></app-name-reactive>
      <div *ngIf="showNameErrorsUnder">
        <span>Space name error</span>
      </div>
    </div>

    <div fxFlex="{{attendeesFlex}}">
      <label>Counter:</label>
      <app-spinner
        [minValue]="attendeesCountMinValue"
        formControlName="count"
      ></app-spinner>
      <div *ngIf="showAttendeesErrorsUnder">
        <span>Attendees are required</span>
      </div>
    </div>

  </div>

  <div class="errors-block" *ngIf="showAllErrorsUnder">
    <div *ngIf="hasNameError">Space name error</div>
    <div *ngIf="hasAttendeesError">Attendees are required</div>
  </div>
</section>


